<div class="container d-flex justify-content-center align-items-center">
  <form class="sign-in-form card col-6 ps-2 row">
    <h1 class="text-center fs-2 text-success mt-3">Sign in</h1>
    <div class="row-control row pe-0">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Username" />
      </mat-form-field>
    </div>
    <div class="row-control row pe-0">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" />
      </mat-form-field>
    </div>
    <div class="row-control row pe-0 pb-2">
      <mat-checkbox>Remember me</mat-checkbox>
    </div>
    <div class="row-control row-actions mb-4">
      <button mat-raised-button color="primary" type="submit">Sign in</button>
    </div>
  </form>
</div>
