<p>day10 works!</p>
<p>{{name}}</p>
<input #nameInput type="text" [ngModel]="name" (ngModelChange)="name=$event">

<div class="toggle-wrapper"[class.checked]="checked"
  (click)="checkedChange.emit(!checked)"tabindex="0">
  <div class="toggle"></div>
</div>
<div class="toggle-wrapper"[class.checked]="checked"
  (click)="checkedChange.emit(!checked)"tabindex="0">
  <div class="toggle"></div>
</div>
<div class="toggle-wrapper"[class.checked]="checked"
  (click)="checkedChange.emit(!checked)"tabindex="0">
  <div class="toggle"></div>
</div>
