<!--bai3-->
<p>Start editing to see</p>
<p>{{name}}</p>
<p>{{user.name}}</p>
<p>{{user.age}}</p>
<input type="text" [value]="user.name">
<button type="button" (click)="handler($event)">Click</button>
<br>
<input type="text" [ngModel]="name" (ngModelChange)="name=$event">
<!--bai 4-->
<h1 *ngIf="user.age>=18;else under" >Ban da du 18</h1>
<ng-template #under>
  Bạn chua du 18
</ng-template>
<button (click)="user.age=user.age -1">-</button>
<button (click)="user.age=user.age +1">+</button>
<!--bai5-->
