<ul class="nav mt-3">
  <li class="nav-item" *ngFor="let link of navs">
    <a class="nav-link active"
    aria-current="page" href="#">
      <ng-container *ngIf="linkTemplate; else noTemplate">
        <!-- <ng-container [ngTemplateOutlet]="linkTemplate" [ngTemplateOutletContext]="{link:link}"></ng-container> -->
        <ng-container *ngTemplateOutlet="linkTemplate;context:{$implicit:link}" ></ng-container>
      </ng-container>
      <ng-template #noTemplate>
        {{link}}
      </ng-template>
    </a>
  </li>
</ul>
